{% extends 'base.html'%}
{% load static %}
{% block content %}


<!DOCTYPE html>
<html>
<head>
  <title>About Us</title>
  <link rel="stylesheet" href="{% static 'students/css/about_us.css' %}">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
  <div id="container">
    <h1>About Us</h1>
    <p>Welcome! it's my first project with Django framework, I'am so happy to do that!
        Welcome! it's my first project with Django framework, I'am so happy to do that!
        Welcome! it's my first project with Django framework, I'am so happy to do that!
        Welcome! it's my first project with Django framework, I'am so happy to do that!
        Welcome! it's my first project with Django framework, I'am so happy to do that!

    </p>
    <p>Welcome! it's my first project with Django framework, I'am so happy to do that!
        Welcome! it's my first project with Django framework, I'am so happy to do that!
        Welcome! it's my first project with Django framework, I'am so happy to do that!
        Welcome! it's my first project with Django framework, I'am so happy to do that!
        Welcome! it's my first project with Django framework, I'am so happy to do that!
        Welcome! it's my first project with Django framework, I'am so happy to do that!
        Welcome! it's my first project with Django framework, I'am so happy to do that!
        Welcome! it's my first project with Django framework, I'am so happy to do that!
    </p>
    
    <div class="social-links">
      <a href="https://twitter.com" target="_blank"><i class="fab fa-twitter"></i></a>
      <a href="https://facebook.com" target="_blank"><i class="fab fa-facebook"></i></a>
      <a href="https://instagram.com" target="_blank"><i class="fab fa-instagram"></i></a>
      <a href="https://linkedin.com" target="_blank"><i class="fab fa-linkedin"></i></a>
    </div>
  </div>
  {% endblock content %}
</body>
</html>