body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
  margin: 0px;
  padding: 0px;
}

#container {
  max-width: 800px;
  margin: auto;
  background-color: #fff;
  margin-top: 150px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  
}

h1 {
  text-align: center;
  margin-top: 0;
}

p {
  line-height: 1.5;
}

.social-links {
  text-align: center;
  margin-top: 20px;
}

.social-links a {
  display: inline-block;
  margin: 0 10px;
  color: #333;
  text-decoration: none;
  font-size: 24px;
  transition: color 0.3s ease;
}

.social-links a:hover {
  color: #007bff;
}



  input,
  textarea {
    width: 97%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical;
  }

  button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color:#232f3e;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  button:hover {
    background-color: #0069d9;
  }