<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
      .footer {
        margin-top: 15%;
        background-color: #f8f8f8;
        padding: 20px;
        text-align: center;
      }
      
    </style>

</head>
<body>
    

  <footer class="footer">
    <div class="container">
      <p>&copy; 2023 ITI. All rights reserved.</p>
    </div>
  </footer>

</body>
</html>